[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 10px;
}

// [class*="__container-big"] {
// 	max-width: 1490px;
// 	margin: 0 auto;
// 	padding: 0px 10px;
// }

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}

// Подключение локальных шрифтов
@font-face {
	font-family: "Space Age Cyrillic";
	src: url("../fonts/SpaceAgeCyrillic.woff2") format("woff2"), url("../fonts/SpaceAgeCyrillic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "San Francisco Pro Display";
	src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"),
		url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "San Francisco Pro Display";
	src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
		url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Colors
$redColor: #cb0e0e;
$whiteColor: #fff;
$bluekColor: #036cca;

// Заголовки
.title {
	font-family: "Space Age Cyrillic", sans-serif;
	font-size: 110px;
	line-height: 1;
}
.subtitle {
	font-family: "Space Age Cyrillic", sans-serif;
	font-size: 48px;
	line-height: 1;
}
.content-title {
	font-family: "San Francisco Pro Display", sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 1;
}

// Кнопки
.btn {
	font-family: "San Francisco Pro Display", sans-serif;
	font-size: 18px;
	line-height: 1.16;
	text-transform: uppercase;
	text-align: center;
	padding: 19px 5px 20px 5px;
	border: 1px solid $whiteColor;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	min-width: 300px;
}

//
body {
	font-family: "San Francisco Pro Display", sans-serif;
	// font-family: 'Roboto', sans-serif;
	// font-family: "Space Age", sans-serif;
	color: $whiteColor;
	font-size: 16px;
	line-height: 1.9;
}

.main__text {
	font-family: "Space Age Cyrillic", sans-serif;
	color: $bluekColor;
}

// header

.header {
	position: absolute;
	right: 0;
	left: 0;
	padding: 80px 0;

	// .header__container

	&__container {
	}

	// .header__inner

	&__inner {
		display: flex;
		align-items: center;
	}
}
.menu {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	gap: 30px;

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 1.17;
		&_active {
			color: $redColor;
		}
	}
}

.phone {
	font-size: 24px;
	line-height: 1.2;
	margin-right: 22px;
}
.logo {
}

// space
.space {
	background: url("../img/space-bg.jpg") center / cover no-repeat;
	padding: 403px 0 142px;

	// .space__container

	&__container {
	}

	// .space__inner

	&__inner {
		display: flex;
		flex-direction: column;
	}

	// .space__content-left

	&__content-left {
		flex: 0 0 600px;
		display: flex;
		flex-direction: column;
		span {
			font-size: 60px;
			line-height: 1;
		}
	}

	// .space__title

	&__title {
		// align-self: flex-start;
		margin-bottom: 15px;
	}

	&__box {
		&-item {
			display: inline-block;
			font-size: 24px;
			line-height: 1.2;
			&:not(:last-child) {
				margin-right: 42px;
			}
		}
	}

	// .space__link

	&__link {
		min-width: 600px;
		align-self: flex-start;
		margin-top: 50px;
		padding: 15px 0 16px 0;
		// text-align: center;
	}

	// .space__content-right

	&__content-right {
		align-self: flex-end;
		display: flex;
	}

	// .space__text

	&__text {
		max-width: 165px;
		font-size: 14px;
		line-height: 1.2;
	}
}

// about
.about {
	background: url("../img/about-bg.jpg") center / cover no-repeat;
	padding: 100px 0;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		height: 450px;
		width: 100%;
		top: -1px;
		background: linear-gradient(180deg, #010203 8.85%, rgba(1, 2, 3, 0) 86.98%);
	}

	// .about__container

	&__container {
		position: relative;
	}

	// .about__title

	&__title {
		margin-bottom: 100px;
	}
}

.galactic, .origin, .spacex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 150px;
	// align-items: center;

	// .galactic__img

	&__img {
	}

	// .galactic__content

	&__content {
		flex: 0 1 601px;
	}

	// .galactic__desc

	&__desc {
		margin-bottom: 50px;
	}

	&__table {
		margin-bottom: 50px;
	}
}


.content-galactic, .content-origin, .content-spacex {
	span {
		display: inline-block;
		color: $bluekColor;
		font-size: 12px;
		line-height: 1.7;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	// .content-galactic__title

	&__title {
		margin-bottom: 5px;
	}

	// .content-galactic__link

	&__link {
	}
}

.desc-galactic, .desc-origin, .desc-spacex {
	display: flex;
	gap: 53px;
	
	// .desc-galactic__items

	&__item {
		flex: 0 1 165px;
		font-size: 16px;
		line-height: 1.18;
	}
}

.table-galactic, .table-origin, .table-spacex {
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	&__thead {
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		th {
			font-weight: 400;
			padding: 10px 0;
		}
	}
	&__tbody {
		text-align: center;
		td {
			font-weight: 700;
			font-size: 36px;
		}
	}
	&__tfoot {
		text-align: center;
		td {
			font-weight: 700;
			font-size: 14px;
			line-height: 1.2;
			border-bottom: 1px solid #ffffff;
			padding-bottom: 7px;
		}
	}
}

.table-origin {
	margin-bottom: 20px;
}

.origin__meta {
	color: #E5E5E5;
	font-size: 14px;
	line-height: 1.17;
	margin-bottom: 50px;
}

.spacex {
	margin-bottom: 0;
}

// how
.how {
	text-align: center;
	padding: 100px 0;
	background: url('../img/how-bg.jpg') center / cover no-repeat;

	// .how__container

	&__container {
	}

	// .how__title

	&__title {
		text-align: left;
		max-width: 580px;
		margin-bottom: 100px;
	}

	&__img {
		// display: inline-block;
	}
}

// make
.make {
	padding: 100px 0 640px;
	background: url('../img/make-bg.jpg') center / cover no-repeat;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: linear-gradient(180deg, #010203 8.85%, rgba(1, 2, 3, 0) 86.98%);
	}

	// .make__container

	&__container {
		position: relative;
	}

	// .make__inner

	&__inner {
		display: flex;
	}

	// .make__title

	&__title {
	}

	// .make__content

	&__content {
		display: flex;
		justify-content: flex-end;
		gap: 50px;
	}

	// .make__text

	&__text {
		flex: 0 1 162px;
		font-size: 14px;
		line-height: 1.12;
	}
}

// offer
.offer {
padding: 100px 0;
background: url('../img/offer-bg.jpg') center / cover no-repeat;

	// .offer__container

	&__container {
	}

	&__title {
		margin-bottom: 100px;
		max-width: 470px;
	}
}
.cards {
	display: flex;
	justify-content: space-between;

	// .cards__item

	&__item {
		flex: 0 1 500px;
	}
}
.item-card {

	// .item-card__body

	&__body {
		border: 1px solid $whiteColor;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 43px 5px 38px;
		margin-bottom: 35px;
	}

	// .item-card__text

	&__text {
		max-width: 227px;
		font-size: 24px;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 146px;
		span {
			color: $redColor;
		}
	}

	// .item-card__count

	&__count {
		font-size: 48px;
		line-height: 1.18;
		position: relative;
		span {
			position: absolute;
			right: -60px;
			top: -30px;
			font-size: 14px;
			line-height: 1.21;
			&::before {
				position: absolute;
				content: '';
				display: block;
				width: 68px;
				height: 1px;
				top: 7px;
				background-color: $redColor;
				transform: rotate(17.1deg);
			}
		}
	}

	// .item-card__link

	&__link {
		display: block;
	}
}
.btn {
}



