[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@font-face {
  font-family: "Space Age Cyrillic";
  src: url("../fonts/SpaceAgeCyrillic.woff2") format("woff2"), url("../fonts/SpaceAgeCyrillic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "San Francisco Pro Display";
  src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "San Francisco Pro Display";
  src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.title {
  font-family: "Space Age Cyrillic", sans-serif;
  font-size: 110px;
  line-height: 1;
}

.subtitle {
  font-family: "Space Age Cyrillic", sans-serif;
  font-size: 48px;
  line-height: 1;
}

.content-title {
  font-family: "San Francisco Pro Display", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
}

.btn {
  font-family: "San Francisco Pro Display", sans-serif;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  text-align: center;
  padding: 19px 5px 20px 5px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  min-width: 300px;
}

body {
  font-family: "San Francisco Pro Display", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.9;
}

.main__text {
  font-family: "Space Age Cyrillic", sans-serif;
  color: #036cca;
}

.header {
  position: absolute;
  right: 0;
  left: 0;
  padding: 80px 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.menu__link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
}
.menu__link_active {
  color: #cb0e0e;
}

.phone {
  font-size: 24px;
  line-height: 1.2;
  margin-right: 22px;
}

.space {
  background: url("../img/space-bg.jpg") center/cover no-repeat;
  padding: 403px 0 142px;
}
.space__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.space__content-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.space__content-left span {
  font-size: 60px;
  line-height: 1;
}
.space__title {
  margin-bottom: 15px;
}
.space__box-item {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
}
.space__box-item:not(:last-child) {
  margin-right: 42px;
}
.space__link {
  min-width: 600px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 50px;
  padding: 15px 0 16px 0;
}
.space__content-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.space__text {
  max-width: 165px;
  font-size: 14px;
  line-height: 1.2;
}

.about {
  background: url("../img/about-bg.jpg") center/cover no-repeat;
  padding: 100px 0;
  position: relative;
}
.about::before {
  position: absolute;
  content: "";
  height: 450px;
  width: 100%;
  top: -1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8.85%, #010203), color-stop(86.98%, rgba(1, 2, 3, 0)));
  background: -o-linear-gradient(top, #010203 8.85%, rgba(1, 2, 3, 0) 86.98%);
  background: linear-gradient(180deg, #010203 8.85%, rgba(1, 2, 3, 0) 86.98%);
}
.about__container {
  position: relative;
}
.about__title {
  margin-bottom: 100px;
}

.galactic, .origin, .spacex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}
.galactic__content, .origin__content, .spacex__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 601px;
          flex: 0 1 601px;
}
.galactic__desc, .origin__desc, .spacex__desc {
  margin-bottom: 50px;
}
.galactic__table, .origin__table, .spacex__table {
  margin-bottom: 50px;
}

.content-galactic span, .content-origin span, .content-spacex span {
  display: inline-block;
  color: #036cca;
  font-size: 12px;
  line-height: 1.7;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.content-galactic__title, .content-origin__title, .content-spacex__title {
  margin-bottom: 5px;
}
.desc-galactic, .desc-origin, .desc-spacex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 53px;
}
.desc-galactic__item, .desc-origin__item, .desc-spacex__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 165px;
          flex: 0 1 165px;
  font-size: 16px;
  line-height: 1.18;
}

.table-galactic, .table-origin, .table-spacex {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}
.table-galactic__thead, .table-origin__thead, .table-spacex__thead {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.table-galactic__thead th, .table-origin__thead th, .table-spacex__thead th {
  font-weight: 400;
  padding: 10px 0;
}
.table-galactic__tbody, .table-origin__tbody, .table-spacex__tbody {
  text-align: center;
}
.table-galactic__tbody td, .table-origin__tbody td, .table-spacex__tbody td {
  font-weight: 700;
  font-size: 36px;
}
.table-galactic__tfoot, .table-origin__tfoot, .table-spacex__tfoot {
  text-align: center;
}
.table-galactic__tfoot td, .table-origin__tfoot td, .table-spacex__tfoot td {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 7px;
}

.table-origin {
  margin-bottom: 20px;
}

.origin__meta {
  color: #E5E5E5;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.spacex {
  margin-bottom: 0;
}